html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
}


/** HEADER **/
nav {
	padding: 5px;
	margin-top: 10px;
	border-bottom: 2px solid grey;
}

.logo-brand {
	display: inline-block;
	width: 11em;
	padding: 0;
	margin-left: 0;
	text-align: center;
	font-size: 1.5em;
}

.nav-switch-button {
	display: inline-block;
	margin-right: 1%;
	border: 1px solid grey;
	border-radius: 5px;
	margin-left: 63.5%;
	width: 5%;
	padding: 2px 1px 0;
	text-align: center;
}
.nav-switch-button > span {
	display: block;
}
.cart > i {
	vertical-align: middle;
}

/* END HEADER */

/* slider PAGE */
.slider-content {
	margin-top: 5px;
	width: 100%;
	background-color: #f5f7f4;
	height: 100%;
}

h2 {
	display: inline-block;
	margin-left: 0;
}

.desc-btn {
	display: inline-block;
	margin-left: 75%;
}

[name^="shadow-"] {
    /*display: none;*/
}

[name^="shadow-"] ~ .button > .material-icons {
    font-size: 2em;
}

.button > i {
	font-size: 1.3em;
	vertical-align: middle;
}

/*[name^="shadow-"]:checked ~ .button.tile .material-icons{
    display: none;
}

[name^="shadow-"]:not(:checked) ~ .button.list .material-icons {
    display: none;
}*/

.slider-content hr {
	height: 12px; 
	border: 0; 
	box-shadow: inset 0 12px 12px -12px rgba(201, 200, 200);	
}

.root-slider {
	/*position: relative;
	opacity: .99;*/
	padding: 1% .5%;
	text-align: center;
}

.slide-unit {
	position: relative;
	display: inline-block;
	width: 22%;
	/*height: 500px;*/
	padding: 1% 1%;
}

.slide-unit:hover {	
	z-index: 1;
}

/*[name^="shadow-"]:checked ~ .root-slider > .slide-unit {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	padding: 6px;
}

[name^="shadow-"]:checked ~ .root-slider .slide-unit-content-li {
	display: inline-block;
	width: 30%;
	height: 200px;
	padding: .5% 1% 0;
	text-align: left;
	vertical-align: middle;
}*/

/*.slide-unit > ul {
	width: 100%;
	height: 100%;
}*/

.slide-unit-content {
/*	line-height: 140%;
	text-align: left;
	overflow: hidden;*/
}

#close-btn, .modal-img-input, .close-lbl {
	/*display: none;*/
}

.modal-img-lbl {
	/*display: block;
	border: 1px solid red;*/
}

.img-background {	
	display: none;
}

/*.slide-unit:hover > .slide-unit-content ~ .modal-img-lbl > .img-background {	
	display: none;
}*/

.slide-unit-img {
	/*line-height: 257px;*/
	/*height: 200px;*/
}

/*[name^="shadow-"]:checked ~ .root-slider .slide-unit-content-li > .slide-unit-img {
	line-height: 0;
}*/

.slide-unit-img > img {
	display: block;/* radio*/
	width: 100%;
	height: 200px;/* radio*/
	/*max-height: 200px;*/
	object-fit: scale-down;
	/*vertical-align: middle;*/
}

.slide-unit:hover .slide-unit-img > img {	
	width: 100%;
    height: 100%;
    /* z-index: 1; */
    /*top: -115px;
    left: -43px;*/
}

.modal-img-input:checked + .modal-img-lbl > .img-background {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;	
	opacity: .8;
	top: 0;
	left: 0;
}
/*chbox*/
.modal-chbox-input:checked + .modal-chbox-lbl > .img-background {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;	
	opacity: .8;
	top: 0;
	left: 0;
}

.close-img-input:checked + .modal-img-lbl > .img-background {
	display: none;
}
/*chbox*/
.close-chbox-lbl:checked + .modal-chbox-lbl > .img-background {
	display: none;
}

/*#modal-img:checked + .modal-img-lbl .slide-unit-img {
	display: block;
	width: 100%;
	height: 100%;
}*/

.modal-img-input:checked + .modal-img-lbl .slide-unit-img > img {
	/*display: block;*/
	position: fixed;
	width: 100%;
	/*height: 100%;*/
	object-fit: scale-down;
	top: 0;
	left: 0;
}
/*chbox*/
.modal-chbox-input:checked + .modal-chbox-lbl .slide-unit-img > img {
	/*display: block;*/
	position: fixed;
	width: 100%;
	/*height: 100%;*/
	object-fit: scale-down;
	top: 0;
	left: 0;
}

.modal-img-input:checked ~ .close-lbl {
	display: block;
	position: fixed;
	width: 10%;
	top: 2%;
	left: 90%;
}
/*chbox*/
.modal-chbox-input:checked ~ .close-chbox-lbl {
	display: block;
	position: fixed;
	width: 10%;
	top: 2%;
	left: 90%;
}

.modal-img-input:checked ~ .close-lbl > i {
	font-size: 4em;
	color: white;
}
/*chbox*/
.modal-chbox-input:checked ~ .close-chbox-lbl > i {
	font-size: 4em;
	color: white;
}

/*.slide-unit-img-image:hover {
	width: 100%;
	height: 300px;
	/*object-fit: scale-down;
	vertical-align: middle;
}*/

/*[name^="shadow-"]:checked ~ .root-slider .slide-unit-content-li > .slide-unit-img > img {
	max-height: 200px;
}*/

.slide-unit-descript {
	display: none;
	/*width: 95%;*/
	height: 10em;
	font-size: .7em;
	line-height: 1.3em;
	/*overflow: hidden;
	text-overflow: ellipsis;*/
	/*padding: .5% 2%;*/
}

.slide-unit-descript p {
    padding: .5% 5%;
    white-space: pre-line;
    text-align: justify;
 }

.slide-unit:hover > .slide-unit-content {	
	position: absolute;
	width: 136%;
    /*height: 100%;*/
     z-index: 1; 
    top: -200px;
    left: -43px;
}

.slide-unit:hover .slide-unit-descript {
	display: block;
}

.modal-img-input:checked ~ .slide-unit-descript {
	/*display: none;*/
	visibility: hidden;
}
/*chbox*/
.modal-chbox-input:checked ~ .slide-unit-descript {
	/*display: none;*/
	visibility: hidden;
}

.close-img-input:checked ~ .slide-unit-descript {
	/*display: none;*/
	visibility: visible;
}
/*chbox*/
.modal-chbox-input:not(:checked) ~ .slide-unit-descript {
	/*display: none;*/
	visibility: visible;
}

/*[name^="shadow-"]:checked ~ .root-slider .slide-unit-content-li .slide-unit-descript {
	height: 100%;
	max-height: 180px;
}*/




/* End slider Page */


/********** Large devices only **********/
@media (min-width: 1200px) {
/*	.slide-unit {
		width: 22%;
		height: 500px;
		padding: 1% 1%;
	}*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.slide-unit {
		width: 28%;
		height: 500px;
		padding: 1% 1.5%;
	}
 }

 /********* Small devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	.slide-unit {
		width: 40%;
		height: 500px;
		padding: 1%;
	}
}

/********* Small devices only *********/
@media (min-width: 600px) and (max-width: 767px) {
	.slide-unit {
		width: 55%;
		height: 500px;
		padding: 1%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 599px) {
	.slide-unit {
		width: 80%;
		height: 500px;
		padding: 2%;
	}
}
