html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
}


/** HEADER **/
nav {
	padding: 5px;
	margin-top: 10px;
	border-bottom: 2px solid grey;
}

.logo-brand {
	display: inline-block;
	width: 11em;
	padding: 0;
	margin-left: 0;
	text-align: center;
	font-size: 1.5em;
}

.nav-switch-button {
	display: inline-block;
	margin-right: 1%;
	border: 1px solid grey;
	border-radius: 5px;
	margin-left: 63.5%;
	width: 5%;
	padding: 2px 1px 0;
	text-align: center;
}
.nav-switch-button > span {
	display: block;
}
.cart > i {
	vertical-align: middle;
}

/* END HEADER */

/* slider PAGE */
.slider-content {
	margin-top: 5px;
	width: 100%;
	background-color: #f5f7f4;
	height: 370px;
}

h2 {
	display: inline-block;
	margin-left: 0;
}

.desc-btn {
	display: inline-block;
	margin-left: 75%;
}

[name^="shadow-"] {
    display: none;
}

[name^="shadow-"] ~ .button > .material-icons {
    font-size: 2em;
}

.button > i {
	font-size: 1.3em;
	vertical-align: middle;
}

.slider-content hr {
	height: 12px; 
	border: 0; 
	box-shadow: inset 0 12px 12px -12px rgba(201, 200, 200);	
}

.block-sw-input {
  position: relative;
  margin: 0 1%;
  left: 41.5%;
  top: 280px;
}

.root-slider {
	padding: 1% .5%;
	text-align: center;
}

.slide-unit {
	position: relative;
	display: none;
	width: 22%;
	padding: 1% 1%;
}

input[value="block1"]:checked ~ .switch-unit ~ ul .slide-unit:nth-child(n+1):nth-child(-n+4) {
	display: inline-block;
}

input[value="block2"]:checked ~ .switch-unit ~ ul .slide-unit:nth-child(n+4):nth-child(-n+7) {
	display: inline-block;
}

input[value="block3"]:checked ~ .switch-unit ~ ul .slide-unit:nth-child(n+7):nth-child(-n+10) {
	display: inline-block;
}

input[value="block4"]:checked ~ .switch-unit ~ ul .slide-unit:nth-child(n+10):nth-child(-n+13) {
	display: inline-block;
}

input[value="block5"]:checked ~ .switch-unit ~ ul .slide-unit:nth-child(n+13):nth-child(-n+16) {
	display: inline-block;
}


.modal-chbox-input, .close-chbox-lbl {
	display: none;
}

.img-background {	
	display: none;
}

.slide-unit-img > img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: scale-down;
}

/*hover*/
.slide-unit:hover .slide-unit-img > img {	
	width: 100%;
    height: 100%;
}
								
/*chbox*/
.modal-chbox-input:checked ~ .modal-chbox-lbl > .img-background {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;	
	opacity: .8;
	top: 0;
	left: 0;
	z-index: 1;
}

/*chbox*/
.close-chbox-lbl:checked + .modal-chbox-lbl > .img-background {
	display: none;
}

/*chbox*/
.modal-chbox-input:checked ~ .modal-chbox-lbl > .slide-unit-img > img {
	/*display: block;*/
	position: fixed;
	max-width: 60%;
	height: 100%;
	object-fit: scale-down;
	top: 0;
	left: 20%;
	z-index: 10;
}

/*chbox*/
.modal-chbox-input:checked ~ .close-chbox-lbl {
	display: block;
	position: fixed;
	width: 10%;
	top: 2%;
	left: 90%;
	z-index: 30;
}

/*chbox*/
.modal-chbox-input:checked ~ .close-chbox-lbl > i {
	font-size: 3em;
	color: white;
}

.modal-chbox-input:checked ~ .modal-blind-layout {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}

.slide-unit-descript {
	display: none;
	height: 10em;
	font-size: .7em;
	line-height: 1.3em;
}

.slide-unit-descript p {
    padding: .5% 5%;
    white-space: pre-line;
    text-align: justify;
 }

/*hover*/
.slide-unit:hover > .slide-unit-content {	
	position: absolute;
	width: 136%;
     z-index: 1; 
    top: -200px;
    left: -43px;
    visibility: visible;
}

.slide-unit:hover .slide-unit-descript {
	display: block;
}

/*chbox*/
.modal-chbox-input:checked ~ .slide-unit-descript {
	visibility: hidden;
}

/*chbox*/
.modal-chbox-input:not(:checked) ~ .slide-unit-descript {
	visibility: visible;
}

/* End slider Page */


/*TO-DO  @media queries*/
/********** Large devices only **********/
@media (min-width: 1200px) {
/*	.slide-unit {
		width: 22%;
		height: 500px;
		padding: 1% 1%;
	}*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.slide-unit {
		width: 28%;
		height: 500px;
		padding: 1% 1.5%;
	}
 }

 /********* Small devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	.slide-unit {
		width: 40%;
		height: 500px;
		padding: 1%;
	}
}

/********* Small devices only *********/
@media (min-width: 600px) and (max-width: 767px) {
	.slide-unit {
		width: 55%;
		height: 500px;
		padding: 1%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 599px) {
	.slide-unit {
		width: 80%;
		height: 500px;
		padding: 2%;
	}
}
